
{% extends 'base.html' %}

{% load static %}

{% block title %}About Us {% endblock title %}

{% block content %}
  <!-- ======= Details Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="/about/blog.html">Blog</a></h4>
            <p class="description">The realm of software solutions is explored in Code Chronicles.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="/about/news.html">News</a></h4>
            <p class="description">DevelopIQ offers news and business updates from the cutting edge of technology.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="/about/faq.html">FAQ</a></h4>
            <p class="description">Stay up-to-date with industry news and innovations from DevelopIQ News.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="/about/carrer.html">Career</a></h4>
            <p class="description">Join the DevelopIQ Team to shape the future of software development.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Details Section -->

     <!-- ======= More Details Section ======= -->
    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("{% static 'assets/img/more-services-1.jpg' %}");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">Mission</a></h5>
                <p class="card-text">
                  To develop Information Technology systems that will ease business processes and social lif while promoting
                  the business.
                </p>
                <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("{% static 'assets/img/more-services-2.jpg' %}");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Vision</a></h5>
                <p class="card-text">
                  To become a unique, secure and reliable Information Technology Company and develop innovation that make life easy
                </p>
                <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
              </div>
            </div>

          </div>
          
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("{% static 'assets/img/more-services-4.jpg' %}");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Goal</a></h5>
                <p class="card-text">
                  Help businesses achive goals. Develop effective innovations using morden approaches.
                  Increase business leads.
                </p>
                <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End More Details Section -->

     <!-- ======= Team Section ======= -->
     <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Meet DevelopIQ executive team.</p>
          <p> The faces behind the keyboard</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static '/assets/img/team/team_1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://web.facebook.com/profile.php?id=100092447312103"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/developiq_/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/developiq-technology-50a536274/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Daniel Akande</h4>
                <span>Founder and CEO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static '/assets/img/team/team_2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Peter Akande</h4>
                <span>Project Development Lead</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static '/assets/img/team/team_4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Elizabeth Akande</h4>
                <span>Sales & Marketing Lead</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                  <img src="{% static '/assets/img/team/team_3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Isaac Akande</h4>
                <span>Chief Financial Officer (CFO)</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
</main>

{% endblock %}
 