
{% extends 'base.html' %}

{% load static %}

{% block title %}Get A Quote {% endblock title %}

{% block content %}
   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs-1 d-flex align-items-center" style="background-image: url('{% static '/assets/img/service.webp' %}');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Get A Quote</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Get A Quote</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <main id="main">
     <!-- ======= Get Started Section ======= -->
     <section id="get-started" class="get-started section-bg">
        <div class="container">
         <form action="{% url 'getQuote' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Form -->
          <div class="form1Flex">
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                <h4 class="alert-heading">DevelopIQ</h4>
                <p>{{message}}.</p>
                <hr>
                <p class="mb-0"><b>DevelopIQ Team.</b></p>
              </div>
              {% endfor %}
            {% endif %}
            
            <!-- flex 1 -->
            <div class="formFlex_i">
              <label for="name">Name</label>
              <input type="text" placeholder="Enter Name" name="name" required>
            </div>
            <!-- flex 2 -->
            <div class="formFlex_ii">
             <label for="email">Email</label>
             <input type="email" name="email" id=""  placeholder="Enter Email" required>
            </div>
          </div>

          <!-- Form -->
          <div class="form1Flex">
            <!-- flex 1 -->
            <div class="formFlex_i">
              <label for="name">Contact</label>
              <input type="tel" placeholder="Enter Contact Number " max_length="14" name="contact" required>
            </div>
            <!-- flex 2 -->
            <div class="formFlex_ii">
             <label for="text">Country</label>
             <input type="text" name="country" id=""  placeholder="Enter Country Name" required>
            </div>
          </div>

          <!-- Form -->
          <div class="form1Flex">
            <!-- flex 1 -->
            <div class="formFlex_i">
              <label for="name">Approximate Budget</label>
              <select id="dropdown" name="budget">
                <option value="option1" disable selected>Select Aproxilate Budget</option>
                <option value="$5000 - $10000<">$5000 to $10000</option>
                <option value="$10000 - $25000">$10000 to $25000</option>
                <option value="$25000 - $50000">$25000 to $50000</option>
                <option value="$50000+">$50000+</option>
                <option value="Negotiable">Negotiable</option>
              </select>
            </div>
            <!-- flex 2 -->
            <div class="formFlex_ii form2">
             <label for="number">WhatsApp Number</label>
             <input type="tel" max_length="14"max_length="14" name="whatsAppNumber" id=""  placeholder="Enter Whatsapp Number" required>
            </div>
          </div>

         <!-- formGeneral  -->
         <div class="formGeneral">
          <label for="name">Details</label>
          <textarea name="details" id="" cols="10" rows="4" placeholder="Project Description"></textarea>
         </div>

         <!-- serviceTypes  -->
         <div class="serviceTypes">
          <h4>Select Service Type</h4>
          <div class="serviceDetails">
          <!-- details -->
          <div class="serviceTypesDetails">
            <input type="checkbox" name="service" value="Web Design" id="">
            <label for="">Web Design</label>
          </div>
          <!-- details -->
          <div class="serviceTypesDetails">
            <input type="checkbox" name="service" value="Mobile App Development" id="">
            <label for="">Mobile App Development</label>
          </div>
          <!-- details -->
          <div class="serviceTypesDetails">
            <input type="checkbox" name="service" value="Graphics/Animation" id="">
            <label for=""> Graphics/Animation</label>
          </div>
          <!-- details -->
          <div class="serviceTypesDetails">
            <input type="checkbox" name="service" value="Digital Marketing" id="">
            <label for=""> Digital Marketing</label>
          </div>
          <!-- details -->
          <div class="serviceTypesDetails">
            <input type="checkbox" name="service" value="Game Design" id="">
            <label for="">Game Design</label>
          </div>
          <!-- details -->
          <div class="serviceTypesDetails">
            <input type="checkbox" name="service" value="Maintanace" id="">
            <label for="">Maintanace</label>
          </div>
          <!-- details -->
          <div class="serviceTypesDetails">
            <input type="checkbox" name="service" value="Consulting" id="">
            <label for="">Consulting</label>
          </div>
          </div>
         </div>
         
           <!-- Form -->
           <div class="form1Flex">
            <!-- flex 1 -->
            <div class="formFlex_i">
              <label for="name">Start Date</label>
              <input type="text" placeholder="When are you ready to start? " name="startDate" required>
            </div>
            <!-- flex 2 -->
            <div class="formFlex_ii">
             <label for="text">Company Name </label>
             <input type="text" name="company" id=""  placeholder="Enter your company or bussiness name" required>
            </div>
          </div>

           <!-- Form -->
           <div class="form1Flex">
            <!-- flex 1 -->
            <div class="formFlex_i">
              <label for="name">Position</label>
              <input type="text" placeholder="What is your position in your company " name="position" required>
            </div>
            <!-- flex 2 -->
            <div class="formFlex_ii">
              <label for="name">How did you know DevelopIQ</label>
              <select id="dropdown" name="ad">
                <option value="Referral">Referral</option>
                <option value="facebook">Facebook</option>
                <option value="Twitter">Twitter</option>
                <option value="LinkedIn">LinkedIn</option>
                <option value="Instagram">Instagram</option>
                <option value="Goggle Search">Goggle Search</option>
                <option value="Clutch">Clutch</option>
                <option value="Family/Friends">Family or Friends</option>
                <option value="WhatsApp">WhatsApp</option>
                <option value="TrustPilot">TrustPilot</option>
                <option value="GoodFirm">GoodFirm</option>
                <option value="Others">Others</option>
              </select>
            </div>
          </div>

          <!-- Nda files  -->
          <div class="browerseFile ">
            <label for="fileInput">Select a file:</label>
            <input type="file" id="fileInput" name="document" class="file-input">
            <p>Only doc, docx, pdf, rtf, txt, zip, rar files are allowed</p>
          </div>
          
          <div class="QuoteBtn">
            <button type="submit">Submit</button>
          </div>
          
         </form>
          </div>
      </section>
      
      <!-- End Get Started Section -->
  </main>
 
{% endblock %}